@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-div{ 
  display: flex;
  align-items: center;
  justify-content: center;
  }

.small-img-div {
  width: 15%;
}  

.img-div {
  width: 20%;
  
}

.mid-img-div {
  width: 30%
}

.big-img-div {
  width: 50%;
  
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
